<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>API Consumer</title>
</head>
<body>
<a href="/activejobs">View the active jobs</a>

<p>Or enter a users id to view their bids</p>

<form class="userbids-form" method = "post" th:action="@{/viewbids}" th:object="${bidForm}">
    <label th:for="*{userId}">
        Enter user ID to view their bids<input name="userId" type="number" th:field="*{userId}"/>
    </label>
    <input type="submit" value="View Users Bids"/>
</form>
</body>
</html>