<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Active Jobs</title>
</head>
<body>
<table>
    <tr>
        <th>Job ID</th>
        <th>Job Name</th>
        <th>Job Description</th>
        <th>Job Published</th>
    </tr>

    <tr th:each="job : *{jobList}">
        <td th:text="*{job.jobId}">ID</td>
        <td th:text="*{job.jobName}">Name</td>
        <td th:text="*{job.jobDescription}">Description</td>
        <td th:text="*{job.jobPublishedDate}">Published</td>
    </tr>
</table>

<form class="userbids-form" method = "post" th:action="@{/viewbids}" th:object="${bidForm}">
    <label th:for="*{userId}">
        Enter user ID to view their bids<input name="userId" type="number" th:field="*{userId}"/>
    </label>
    <input type="submit" value="View Users Bids"/>
</form>
</body>
</html>